@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|PT++Mono);
:root {
    --primary-color: #FFECAD;
    --sencondary-color: #AD1F45;
    --tertiary-color: #5B3178;
}
body{
    background-color: var(--primary-color);
    border: none;
    font-size: 15px;
    font-family: Lato, sans-serif;
}

#container {
    background: #FFFFEE;
    box-shadow: 5px 5px 5px var(--tertiary-color);
    border-radius: 15px;
    height: 525px;
    margin: 100px auto;
    width: 360px;
}

.title{
    background: var(--tertiary-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--primary-color);
    font-size: 18px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.form {
    padding: 15px;
}

.form_input {
    background-color: #FFFFFF;
    padding: 5px 5px 8px 8px;
    width: 40px;
}

.form_input:focus {
    border: 5px solid var(--sencondary-color);
}

.form_select {
    font-size: 12px;
    padding: 5px;
    width: 180px;
}

.form_submit {
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin: 30px auto;
    background: var(--sencondary-color);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: var(--primary-color);
}